:root {
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
  --logotip-text-color: #ffffff;
}
/* Основний чорний колір 2E2F42 */
/* Фіолетовий колір 4D5AE5 */
/* Білий колір F4F4FD */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Логотип */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo .logo-studio {
  color: var(--primary-text-color);
}
/* Тіло */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

/* Шапка */
.site-nav-link {
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.site-nav-adress-link {
  color: var(--title-text-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.site-nav-link:focus,
.site-nav-link:hover {
  color: #404bbf;
}
/* Main */
/* Секція герой */
.hero-title {
  color: var(--logotip-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  color: var(--logotip-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.hero-button:focus,
.hero-button:hover {
  color: #404bbf;
}
.section {
  color: var(--primary-text-color);
}
.title {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.4px;
}

.title-content {
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.title-chapter {
  color: var(--title-text-color);

  font-size: 36px;

  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
}
/* Кнопка */
.button {
  color: var(--accent-color);
  font-family: 'Roboto', sans-serif;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
/* Герой */
.hero-title {
  color: var(--primary-text-color);
}

/* підлога
 */
.footer-floor {
  background-color: #2e2f42;
}
.home-floor {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.web-floor {
  color: var(--accent-color);
}
.studio-floor {
  color: #f4f4fd;
}
.floor {
  color: #f4f4fd;

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
