:root {
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
  --logotip-text-color: #ffffff;
}
/* Основний чорний колір 2E2F42 */
/* Фіолетовий колір 4D5AE5 */
/* Білий колір F4F4FD */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Логотип */
.home {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-size: 18px;

  line-height: 1.16px;
  letter-spacing: 0.54px;
}

.web {
  color: var(--accent-color);
}
.studio {
  color: var(--primary-text-color);
}
/* Тіло */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

/* Шапка */
.site-nav .site-nav-list {
  color: var(--primary-text-color);

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5px;
  letter-spacing: 0.32px;
}
.site-nav-adress .site-nav-adress-list {
  color: var(--title-text-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.site-nav .site-nav-list:focus,
.site-nav .site-nav-list:hover {
  color: var(--accent-color);
}
/* Main */
.section {
  color: var(--primary-text-color);
}
.feature-list .title {
  color: var(--primary-text-color);

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.title-content {
  color: var(--title-text-color);

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.title-chapter {
  color: var(--title-text-color);

  font-size: 36px;

  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
}
/* Кнопка */
.button .button-accent {
  color: var(--accent-color);
  font-family: inherit;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
/* Герой */
.hero-title {
  color: var(--primary-text-color);
}

/* підлога
 */
.home-floor {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-size: 18px;

  line-height: 1.16px;
  letter-spacing: 0.54px;
}

.web-floor {
  color: var(--accent-color);
}
.studio-floor {
  color: var(--logotip-text-color);
}
.floor {
  color: var(--logotip-text-color);

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
